.Header {
    margin-bottom: 44px;
    background: var(--ins-background-primary);
    color: var(--ins-content-primary);
    @media only screen and (max-width: 735px) {
        display: block;
        margin-bottom: 0px;
    }
}

.HeaderWrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    @media only screen and (max-width: 735px) {
        display: flex;
        padding: 14px;
        column-gap: 0px;
    }
}
.ProfilePic {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 800px) {
        width: 77px;
        height: 77px;
        margin-right: 28px;
    }
}

.ProfileImg {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    /* border: 1px solid var(--ins-border-primary); */
    clip-path: circle(75px at 50% 50%);
    @media only screen and (max-width: 735px) {
        width: 100%;
        height: 100%;
    }
}

.ProfileRow {
    margin-bottom: 20px;
}

.ProfileTitle {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 735px) {
        display: block;
    }
}

.ProfileName {
    font-size: 28px;
    font-weight: 300;
    @media only screen and (max-width: 735px) {
        display: inline-block;
        margin-bottom: 12px;
    }
}

.ProfileIcon {
    margin-left: 8px;
    @media only screen and (max-width: 735px) {
        display: inline-block;
    }
}
.ProfileButton {
    margin-left: 20px;
    @media only screen and (max-width: 735px) {
        display: block;
        margin-left: 0px;
    }
}
.DesktopOnly {
    @media only screen and (max-width: 735px) {
        display: none;
    }
}
.Button {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 9px;
    border-radius: 4px;
}
.ProfileDescription {
    font-weight: 600;
    line-height: 24px;
    @media only screen and (max-width: 735px) {
        line-height: 20px;
    }
}
.ProfileDescriptionSpan {
    font-weight: 400;
    line-height: 24px;
    @media only screen and (max-width: 735px) {
        line-height: 20px;
    }
}
.ProfileDescriptionA {
    color: blue;
}
.ProfileDescriptionsA{
    @media only screen and (max-width: 735px) {
        padding-left: 16px;
        padding-bottom: 21px;
        font-size: 14px;
        margin-bottom: 0px !important;
      }
}